@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 font-family: 'Dosis', sans-serif;;
}

.unordered {
    list-style-type: none;
    overflow: hidden;
    background: #dad5d5;
    position: sticky;
    top: 0;
}

.unordered li {
    float: left;
}

.unordered li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: medium;
}

.unordered li:last-child {
    float: right;
}

.unordered li a:hover:not(.active) {
    border-bottom: 3px solid white;
    background-color: #000;
    color:white;
    animation-name:example;
    animation-duration:4s; 
}
@keyframes example{
    from {color: orangered;}
  to {color: white;}
}

body h1 {
    margin-top: 10px;
    text-align: center;
}

h1:hover{
    animation-name:example1;
    animation-duration:4s; 
}

@keyframes example1{
    from {color: orangered;}
  to {color: black;}
}

@media screen and (max-width:768px) {
    .unordered li {
        float: none;
    }

    .unordered li:last-child {
        float: none;
    }

    .unordered li:first-child {
        display: none;
    }
}

/* Adding Quotes Images */
.image{
    padding: 0rem 0.2rem;
}
.image img{
    height:300px ;
    width:500px;
    border:1px solid #847e7e;
}
.image img:hover{
    border: 2px solid #0e50df;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}

@media screen and (max-width:768px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }
}

.fotter{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width:100%;
    background-color:rgb(115, 109, 109);
    padding: 10px 14px;;
    
}
.fotter a{
    text-decoration: none;
}

.like{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 12px;
    width:500px;
    background-color: #fff;
    border:1px solid rgb(87, 84, 84);
    margin:1rem 0rem;
}

.like span svg{
    cursor:pointer;
}
